@media only screen and (max-width: 991px) {
    .header-top-left,
    .header-top-right {
        text-align: center;
    }

    .header-menu {
        display: block;
    }

    .header-menu ul li.menu-item-has-children > a::after,
    .header-menu ul li.page_item_has_children > a::after {
        display: none;
    }

    .header-menu ul li .children, .header-menu ul li .sub-menu {
        position: static;
    }

    .mean-container .mean-nav ul li a:hover,
    .mean-container .mean-nav ul li a:focus {
        background-color: var(--black-color);
    }

    .header-menu ul li .children li a::before,
    .header-menu ul li .sub-menu li a::before {
        left: 35px;
    }

    .header-menu ul li .children li a:hover,
    .header-menu ul li .children li a:focus,
    .header-menu ul li .sub-menu li a:hover,
    .header-menu ul li .sub-menu li a:focus {
        padding-left: 70px;
    }

    .header-menu ul li .children li.page_item_has_children > a::after,
    .header-menu ul li .sub-menu li.menu-item-has-children > a::after {
        display: none;
    }

    .header-menu ul li .children .children li a::before,
    .header-menu ul li .sub-menu .sub-menu li a::before {
        left: 70px;
    }

    .header-menu ul li .children .children li a:hover,
    .header-menu ul li .children .children li a:focus,
    .header-menu ul li .sub-menu .sub-menu li a:hover,
    .header-menu ul li .sub-menu .sub-menu li a:focus {
        padding-left: 105px;
    }

    .mean-expand::before,
    .mean-expand::after {
        display: none;
    }

}